﻿@{
    ViewBag.Title = "WebHookPost";
}
<style>
    h3{
        color: maroon;
    }    
    
</style>

<h4>ViewBag.type {</h4>
<h3>@ViewBag.type</h3>

<h4>ViewBag.event_date {</h4>
<h3>@ViewBag.event_date</h3>

<h4>ViewBag.amount {</h4>
<h3>@ViewBag.amount</h3>

<h4>ViewBag.id {</h4>
<h3>@ViewBag.id</h3>

<h4>ViewBag.error_message {</h4>
<h3>@ViewBag.error_message</h3>
